:root{
  // MatFormField
  --mdc-outlined-text-field-focus-outline-color: var(--dark);
  --mdc-outlined-text-field-hover-outline-color: var(--dark);
  --mdc-outlined-text-field-outline-color: var(--secondary-10);
}
  
// MatFormField
mat-form-field { width: 100%; color: var(--dark); 
  &.mat-small-input {
    height: 30px !important;   
    font-size: 12px !important;

    --mdc-outlined-text-field-outline-color: var(--secondary-60);
    input, .mat-mdc-text-field-wrapper {
      height: 30px !important;
    }
  }
}
.mat-mdc-text-field-wrapper { height: 37px !important; }
.mat-mdc-form-field-infix { padding-top: 0 !important; padding-bottom: 0 !important; }
.mat-mdc-form-field-input-control { height: 35px !important; }
.mdc-notched-outline__leading { border-radius: 0 !important; }
.mdc-notched-outline__trailing { border-radius: 0 !important; }