<div class="pagination-container d-flex jc-center ai-center gap-10">
    <button class="pl-20 pr-20 text-size-3 bg-transparent"
            (click)="changePage(page - 1)"
            [disabled]="page === 1"
            [ngClass]="{'cursor-not-allowed color-dark-30': page === 1, 'color-dark': page > 1}">
        Previous
    </button>
    <button class="w-30 h-30 pl-10 pr-10 text-size-3 shadow-2"
            *ngFor="let p of pages"
            (click)="changePage(p)"
            [ngClass]="{'color-secondary font-600 bg-primary': p === page, 'bg-secondary color-dark': p !== page}">
        {{ p }}
    </button>
    <button class="pl-20 pr-20 text-size-3 bg-transparent"
            (click)="changePage(page + 1)"
            [disabled]="page === total_pages"
            [ngClass]="{'cursor-not-allowed color-dark-30': page === total_pages, 'color-dark': page < total_pages}">
        Next
    </button>
  </div>
  